* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav {
  background-color: #f9f9f9;
  padding: 20px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  min-height: 200px;
  background-color: #f1f1f1;
  padding: 20px;
}

.footer {
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-cards-container {
  list-style: none;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.business-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.business-card h2 {
  margin-top: 10px;
  font-size: 18px;
}

.business-card p {
  margin: 5px 0;
}

.business-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 500px;
  margin-bottom: 20px;
}

.image-container {
  flex-shrink: 0;
  margin-right: 10px;
  width: 100px;
}

.info-container {
  flex-grow: 1;
}

.info-container h2 {
  margin-top: 0;
}

.info-container p {
  margin: 5px 0;
}

.info-container button {
  margin-top: 10px;
}
